#div_flash{
  position: absolute;
  left: 915px;
  top: 100px;
  width: 325px;
  height: 30px;
  line-height: 35px;
}

#mess_flash{
  position: relative;
  top: -18px;
  left: -40px;
  margin-left: 30px;
  font-weight: bolder;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.btn_flash{
  z-index: 5;
  position: absolute;
  left: 1210px;
  top: 100px; 
  font-size: 15px;
  height: 33px;
  width: 25px;
  background-color: transparent;
  font-weight: bolder;
  color: black;
}

#btn_pass{
  opacity: 80%;
  position: absolute;
  left: 210px;
  top: 30px; 
  width: 30px;
  z-index: 5;
}

.bar_fli{
  color: black;
}

.div_top{
  position: absolute;
  left: 34px;
  top: 130px;
  width: 1200px;
  height: 232px;
} 

.ico_top{
  position: absolute;
  left: -35px;
  top: -40px;
  width: 320px;
  height: 146.25px;
}

.par_top{
  position: absolute;
  left: 225px;
  top: -50px;
  width: 308px;
  height: 58px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: Archivo Black; 
  color: #004aad;
}

.div_head{
  position: absolute;
  left: 250px;
  top: 40px;
  width: 600px;
  height: 40px;
  background-blend-mode: normal;
  background: #dadada;
}

.head_date{
  position: absolute;
  left: 30px;
  top: 0px;
  width: 176px;
  height: 43.8px; 
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: League Spartan;
  color: black;
}

.head_time{
  position: absolute;
  left: 210px;
  top: 0px;
  width: 176px;
  height: 43.8px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: League Spartan;
  color: black;
}

.head_dest{
  position: absolute;
  left: 470px;
  top: 0px;
  width: 176px;
  height: 43.8px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: League Spartan;
  color: black;
}

.div_flig{
  position: absolute;
  top: 220px;
  left: 285px;
}

.sel_flig{
  height: 35px;
  width: 600px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: expanded;
  font-family: 'Montserrat';
  color: black;
}

.div_buy{
	position: absolute;
	left: 900px;
	top: 88px;
	width: 350px;
	height: 450px;
	border-radius: 30px;
	border: 5px solid #dadada;
}

.par_buy{
	margin-top: 40px;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	font-family: Archivo Black; 
	color: #004aad;
}

.sel_seat{
	margin-left: 60px;
	font-size: 15px;
	font-weight: bold;
	font-stretch: expanded;
	font-family: 'Montserrat';
	color: black;
}

.div_pass{
	position: absolute;
    top: 285px;
	left: 65px;
}

.par_pass{
	position: absolute;
	top: 0px;
	width: 260px;
	font-family: 'Montserrat';
	color: black;
	font-weight: bold;
  left: 15px;
}

.txt_pass{
	position: absolute;
  left: 15px;
	top: 30px;
	font-family: 'League Spartan';
}

.btn_buy{
	position: absolute;
	top: 75px;
	left: 32px;
    width: 173px;
    height: 52px;  
    font-size: 15px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    font-weight: bolder;
    background-color: #004aad;
    color: white;
}

.div_info{
    position: absolute;
    left: 970px;
    top: 235px;
}

.par_type{
	position: absolute;
	top: 0px;
	width: 100px;
  left: 15px;
	font-family: 'Montserrat';
	color: black;
	font-weight: bold;
}

.txt_type{
	position: absolute;
	top: 30px;
  left: 15px;
	font-family: 'League Spartan';
}

.par_pric{
	position: absolute;
	top: 70px;
	width: 100px;
  left: 15px;
	font-family: 'Montserrat';
	color: black;
	font-weight: bold;
}

.txt_pric{
	position: absolute;
	top: 100px;
  left: 15px;
	font-family: 'League Spartan';
}

.div_seat{
  position: absolute;
  left: 40px;
  top: 350px;
  width: 194px;
  height: 146px;
}

.par_view{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 29px;
  font-size: 20px;
  font-weight: 700;
  font-family: Archivo Black; 
  color: black;
}

.box_free{
  position: absolute;
  left: 30px;
  top: 50px;
  width: 50px;
  height: 20px;
  background-blend-mode: normal;
  background-color: #dadada;
}

.par_free{
  position: absolute;
  left: 110px;
  top: 50px;
  width: 39px;
  height: 22px;
  font-size: 18px;
  font-weight: 700;
  font-family: League Spartan;
  color: black;
}

.box_occu{
  position: absolute;
  left: 30px;
  top: 100px;
  width: 50px;
  height: 20px;
  background-blend-mode: normal;
  background-color: #004aad;
}

.par_occu{
  position: absolute;
  left: 110px;
  top: 100px;
  width: 85px;
  height: 22px;
  font-size: 18px;
  font-weight: 700;
  font-family: League Spartan;
  color: black;
}

.del_seat{
  position: absolute;
  left: 310px;
  top: 290px;
  font-family: League Spartan;
  color: black;
  font-weight: bold;
}

.fir_clas{
  position: absolute;
  left: 460px;
  top: 290px;
  font-family: League Spartan;
  color: black;
  font-weight: bold;
}

.eco_clas{
  position: absolute;
  left: 668px;
  top: 290px;
  width: 300px;
  font-family: League Spartan;
  color: black;
  font-weight: bold;
}

#GROUPS {
  position: absolute;
  left: 250px;
  top: 80px;
  width: 578px;
  height: 216px;
  text-align: center;
}

#GROUP1 {
  position: absolute;
  left: 50px;
  top: 370px;
  width: 104.96px;
  height: 88.17px;
  font-size: 15px;
}

#A1 {
  position: absolute;
  left: 0px;
  top: 46.59px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A2 {
  position: absolute;
  left: 38.33px;
  top: 46.59px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B2 {
  position: absolute;
  left: 38.33px;
  top: 0px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A3 {
  position: absolute;
  left: 76.67px;
  top: 46.59px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B3 {
  position: absolute;
  left: 76.67px;
  top: 0px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#GROUP2 {
  position: absolute;
  left: 50px;
  top: 250px;
  width: 104.96px;
  height: 88.17px;
  font-size: 15px;
}

#C1 {
  position: absolute;
  left: 0px;
  top: 46.2px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C2 {
  position: absolute;
  left: 38.33px;
  top: 46.59px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D2 {
  position: absolute;
  left: 38.33px;
  top: 0px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C3 {
  position: absolute;
  left: 76.67px;
  top: 46.59px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D3 {
  position: absolute;
  left: 76.67px;
  top: 0px;
  width: 28.29px;
  height: 41.58px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#GROUP3 {
  position: absolute;
  left: 180px;
  top: 370px;
  width: 129.15px;
  height: 88.56px;
  font-size: 12px;
}

#A4 {
  position: absolute;
  left: 0px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B4 {
  position: absolute;
  left: 0px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A5 {
  position: absolute;
  left: 27.54px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B5 {
  position: absolute;
  left: 27.54px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C5 {
  position: absolute;
  left: 27.54px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A6 {
  position: absolute;
  left: 55.08px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B6 {
  position: absolute;
  left: 55.08px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C6 {
  position: absolute;
  left: 55.08px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A7 {
  position: absolute;
  left: 82.62px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B7 {
  position: absolute;
  left: 82.62px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C7 {
  position: absolute;
  left: 82.62px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A8 {
  position: absolute;
  left: 110.17px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B8 {
  position: absolute;
  left: 110.17px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C8 {
  position: absolute;
  left: 110.17px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#GROUP4 {
  position: absolute;
  left: 180px;
  top: 250px;
  width: 129.15px;
  height: 88.56px;
  font-size: 12px;
}

#D4 {
  position: absolute;
  left: 0px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E4 {
  position: absolute;
  left: 0px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D5 {
  position: absolute;
  left: 27.54px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E5 {
  position: absolute;
  left: 27.54px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F5 {
  position: absolute;
  left: 27.54px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D6 {
  position: absolute;
  left: 55.08px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E6 {
  position: absolute;
  left: 55.08px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F6 {
  position: absolute;
  left: 55.08px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D7 {
  position: absolute;
  left: 82.62px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E7 {
  position: absolute;
  left: 82.62px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F7 {
  position: absolute;
  left: 82.62px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D8 {
  position: absolute;
  left: 110.17px;
  top: 61.6px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E8 {
  position: absolute;
  left: 110.17px;
  top: 30.8px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F8 {
  position: absolute;
  left: 110.17px;
  top: 0px;
  width: 18.98px;
  height: 26.95px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#GROUP5 {
  position: absolute;
  left: 340px;
  top: 367px;
  width: 256.81px;
  height: 90.87px;
  font-size: 10px;
}

#A9 {
  position: absolute;
  left: 0px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B9 {
  position: absolute;
  left: 0px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C9 {
  position: absolute;
  left: 0px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D9 {
  position: absolute;
  left: 0px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A10 {
  position: absolute;
  left: 26.42px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B10 {
  position: absolute;
  left: 26.42px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C10 {
  position: absolute;
  left: 26.42px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D10 {
  position: absolute;
  left: 26.42px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A11 {
  position: absolute;
  left: 52.85px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B11 {
  position: absolute;
  left: 52.85px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C11 {
  position: absolute;
  left: 52.85px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D11 {
  position: absolute;
  left: 52.85px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A12 {
  position: absolute;
  left: 79.27px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B12 {
  position: absolute;
  left: 79.27px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C12 {
  position: absolute;
  left: 79.27px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D12 {
  position: absolute;
  left: 79.27px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A13 {
  position: absolute;
  left: 105.7px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B13 {
  position: absolute;
  left: 105.7px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C13 {
  position: absolute;
  left: 105.7px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D13 {
  position: absolute;
  left: 105.7px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A14 {
  position: absolute;
  left: 132.12px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B14 {
  position: absolute;
  left: 132.12px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C14 {
  position: absolute;
  left: 132.12px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D14 {
  position: absolute;
  left: 132.12px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D15 {
  position: absolute;
  left: 158.55px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C15 {
  position: absolute;
  left: 158.55px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B15 {
  position: absolute;
  left: 158.55px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A15 {
  position: absolute;
  left: 158.55px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A16 {
  position: absolute;
  left: 184.97px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B16 {
  position: absolute;
  left: 184.97px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C16 {
  position: absolute;
  left: 184.97px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D16 {
  position: absolute;
  left: 184.97px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A17 {
  position: absolute;
  left: 211.4px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B17 {
  position: absolute;
  left: 211.4px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C17 {
  position: absolute;
  left: 211.4px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D17 {
  position: absolute;
  left: 211.4px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#A18 {
  position: absolute;
  left: 237.82px;
  top: 69.3px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#B18 {
  position: absolute;
  left: 237.82px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#C18 {
  position: absolute;
  left: 237.82px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#D18 {
  position: absolute;
  left: 237.82px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#GROUP6 {
  position: absolute;
  left: 340px;
  top: 247px;
  width: 256.81px;
  height: 90.87px;
  font-size: 10px;
}

#H10 {
  position: absolute;
  left: 26.42px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G10 {
  position: absolute;
  left: 26.42px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F10 {
  position: absolute;
  left: 26.42px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E10 {
  position: absolute;
  left: 26.42px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H9 {
  position: absolute;
  left: 0px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G9 {
  position: absolute;
  left: 0px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F9 {
  position: absolute;
  left: 0px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E9 {
  position: absolute;
  left: 0px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H11 {
  position: absolute;
  left: 52.85px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G11 {
  position: absolute;
  left: 52.85px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F11 {
  position: absolute;
  left: 52.85px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E11 {
  position: absolute;
  left: 52.85px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H12 {
  position: absolute;
  left: 79.27px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G12 {
  position: absolute;
  left: 79.27px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F12 {
  position: absolute;
  left: 79.27px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E12 {
  position: absolute;
  left: 79.27px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H13 {
  position: absolute;
  left: 105.7px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G13 {
  position: absolute;
  left: 105.7px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F13 {
  position: absolute;
  left: 105.7px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E13 {
  position: absolute;
  left: 105.7px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H14 {
  position: absolute;
  left: 132.12px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G14 {
  position: absolute;
  left: 132.12px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F14 {
  position: absolute;
  left: 132.12px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E14 {
  position: absolute;
  left: 132.12px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H15 {
  position: absolute;
  left: 158.55px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G15 {
  position: absolute;
  left: 158.55px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F15 {
  position: absolute;
  left: 158.55px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E15 {
  position: absolute;
  left: 158.55px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H16 {
  position: absolute;
  left: 184.97px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G16 {
  position: absolute;
  left: 184.97px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F16 {
  position: absolute;
  left: 184.97px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E16 {
  position: absolute;
  left: 184.97px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H17 {
  position: absolute;
  left: 211.4px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G17 {
  position: absolute;
  left: 211.4px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F17 {
  position: absolute;
  left: 211.4px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E17 {
  position: absolute;
  left: 211.4px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#H18 {
  position: absolute;
  left: 237.82px;
  top: 1.16px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#G18 {
  position: absolute;
  left: 237.82px;
  top: 24.26px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#F18 {
  position: absolute;
  left: 237.82px;
  top: 47.36px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}

#E18 {
  position: absolute;
  left: 237.82px;
  top: 70.46px;
  width: 18.98px;
  height: 20.41px;
  border-radius: 8px;
  background: #dadada;
  background-blend-mode: normal;
}